Import the necessary packages:

In [1]:
import pandas as pd
import numpy as np
import yaml
from pprint import pprint as pprint
import pickle
from pandas.io.json import json_normalize

### Movie Credits: Cast and Crew data:
Let's start by looking at the movie cast and crew data.

Load the data as a __Pandas__ DataFrame object and take a look at the first 5 rows of the data:

In [2]:
creditsDF = pd.read_csv("C:\\Users\\vosilr2\\Documents\\NAMV_MLcontest\\data\\credits.csv")
creditsDF.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:
print(f'There are {creditsDF.shape[0]} observations in the credits dataset.')

There are 45476 observations in the credits dataset.

##### Missing values:
Dealing with missing values is always important. Removing the rows with missing data might not always be the best idea. The fact that data is missing for a certain observation of a certain variable might in itself be useful data. So, that's something to have in mind.

In this dataset, there are a some rows that have no data in the `cast` or in `crew` columns. We can remove the rows where both of the columns have missing data and leave the one's where only one of them has missing observations. 

There are $421$ (less than 1% of the data) such rows where we have information on neither the movie cast nor the crew:

In [4]:
len(creditsDF[(creditsDF.cast == "[]") & (creditsDF.crew == "[]")])

421

In [5]:
creditsDF = creditsDF[(creditsDF.cast != "[]") | (creditsDF.crew != "[]")]
print(f'After removing the above rows, there are now {len(creditsDF)} obserations in the credits dataset.')

After removing the above rows, there are now 45055 obserations in the credits dataset.

##### A closer look:

Let's examine one of the observations in the `cast` column:

In [6]:
creditsDF.cast[0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

It seems that the `cast` and `crew` columns contain JSON type data in string format. These strings could be converted into dictionaries and then expanded afterwards. There are several Python packages that can help us with that. `yaml` is one of them. Below we apply the `yaml.load()` method on the two columns, which returns two columns with a list of dictionaries in them:

In [7]:
creditsDF[["cast", "crew"]] = creditsDF[["cast", "crew"]].applymap(yaml.load)

In [8]:
creditsDF.cast[0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': 'None'},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [9]:
creditsDF.rename(index=str,columns={"id": "movieId"}, inplace=True)

Now that all observations have been converted into lists of dictionaries, we can use `Panda`'s `json_normalize` function to expand or flatten the dataset. We'll create two separate datasets for cast and crew and then merge them. However, first we need to make sure the movie ID is also present in both of these. For that we can make a function that will create a dictionary of dictionaries containing the movie id and the cast dictionary for each observation:

In [10]:
def makeDicts(row):
    '''
    input: a list of two items - a dictionary of cast data and a digit representing movie ID
    output: a dictionary comprised of the two inputs.
    '''
    if len(row[0]) != 0:
        x = {row.index[1] : row[1],
             row.index[0] : row[0][:len(row[0])]}
    else:
        x = np.NaN
    return x

#### Cast data:

Apply the `makeDicts` function for each row of the `cast` and `id` columns and create a temporary dataframe:

In [11]:
newDF = creditsDF.iloc[:,[0, 2]].apply(makeDicts, axis=1)

drop the observations with `NaN`:

In [12]:
newDF.dropna(inplace=True)
newDF

0        {'movieId': 862, 'cast': [{'cast_id': 14, 'cha...
1        {'movieId': 8844, 'cast': [{'cast_id': 1, 'cha...
2        {'movieId': 15602, 'cast': [{'cast_id': 2, 'ch...
3        {'movieId': 31357, 'cast': [{'cast_id': 1, 'ch...
4        {'movieId': 11862, 'cast': [{'cast_id': 1, 'ch...
5        {'movieId': 949, 'cast': [{'cast_id': 25, 'cha...
6        {'movieId': 11860, 'cast': [{'cast_id': 1, 'ch...
7        {'movieId': 45325, 'cast': [{'cast_id': 2, 'ch...
8        {'movieId': 9091, 'cast': [{'cast_id': 1, 'cha...
9        {'movieId': 710, 'cast': [{'cast_id': 1, 'char...
10       {'movieId': 9087, 'cast': [{'cast_id': 1, 'cha...
11       {'movieId': 12110, 'cast': [{'cast_id': 9, 'ch...
12       {'movieId': 21032, 'cast': [{'cast_id': 1, 'ch...
13       {'movieId': 10858, 'cast': [{'cast_id': 1, 'ch...
14       {'movieId': 1408, 'cast': [{'cast_id': 1, 'cha...
15       {'movieId': 524, 'cast': [{'cast_id': 4, 'char...
16       {'movieId': 4584, 'cast': [{'cast_id': 6, 'cha...
17       {'movieId': 5, 'cast': [{'cast_id': 42, 'chara...
18       {'movieId': 9273, 'cast': [{'cast_id': 1, 'cha...
19       {'movieId': 11517, 'cast': [{'cast_id': 1, 'ch...
20       {'movieId': 8012, 'cast': [{'cast_id': 1, 'cha...
21       {'movieId': 1710, 'cast': [{'cast_id': 8, 'cha...
22       {'movieId': 9691, 'cast': [{'cast_id': 1, 'cha...
23       {'movieId': 12665, 'cast': [{'cast_id': 1, 'ch...
24       {'movieId': 451, 'cast': [{'cast_id': 1, 'char...
25       {'movieId': 16420, 'cast': [{'cast_id': 2, 'ch...
26       {'movieId': 9263, 'cast': [{'cast_id': 9, 'cha...
27       {'movieId': 17015, 'cast': [{'cast_id': 1, 'ch...
28       {'movieId': 902, 'cast': [{'cast_id': 24, 'cha...
29       {'movieId': 37557, 'cast': [{'cast_id': 2, 'ch...
                               ...
45439    {'movieId': 36680, 'cast': [{'cast_id': 7, 'ch...
45440    {'movieId': 222872, 'cast': [{'cast_id': 1, 'c...
45443    {'movieId': 5589, 'cast': [{'cast_id': 12, 'ch...
45444    {'movieId': 325439, 'cast': [{'cast_id': 2, 'c...
45445    {'movieId': 63266, 'cast': [{'cast_id': 2, 'ch...
45446    {'movieId': 45527, 'cast': [{'cast_id': 1, 'ch...
45448    {'movieId': 327237, 'cast': [{'cast_id': 2, 'c...
45449    {'movieId': 84710, 'cast': [{'cast_id': 2, 'ch...
45450    {'movieId': 39562, 'cast': [{'cast_id': 1, 'ch...
45451    {'movieId': 14008, 'cast': [{'cast_id': 1, 'ch...
45453    {'movieId': 49279, 'cast': [{'cast_id': 2, 'ch...
45454    {'movieId': 44333, 'cast': [{'cast_id': 2, 'ch...
45455    {'movieId': 49277, 'cast': [{'cast_id': 2, 'ch...
45456    {'movieId': 49271, 'cast': [{'cast_id': 2, 'ch...
45457    {'movieId': 44324, 'cast': [{'cast_id': 2, 'ch...
45459    {'movieId': 14885, 'cast': [{'cast_id': 1, 'ch...
45460    {'movieId': 49280, 'cast': [{'cast_id': 3, 'ch...
45461    {'movieId': 106807, 'cast': [{'cast_id': 2, 'c...
45463    {'movieId': 404604, 'cast': [{'cast_id': 1, 'c...
45464    {'movieId': 420346, 'cast': [{'cast_id': 0, 'c...
45465    {'movieId': 67179, 'cast': [{'cast_id': 5, 'ch...
45466    {'movieId': 84419, 'cast': [{'cast_id': 5, 'ch...
45467    {'movieId': 390959, 'cast': [{'cast_id': 30, '...
45468    {'movieId': 289923, 'cast': [{'cast_id': 2, 'c...
45469    {'movieId': 222848, 'cast': [{'cast_id': 1, 'c...
45470    {'movieId': 30840, 'cast': [{'cast_id': 1, 'ch...
45471    {'movieId': 439050, 'cast': [{'cast_id': 0, 'c...
45472    {'movieId': 111109, 'cast': [{'cast_id': 1002,...
45473    {'movieId': 67758, 'cast': [{'cast_id': 6, 'ch...
45474    {'movieId': 227506, 'cast': [{'cast_id': 2, 'c...
Length: 43058, dtype: object

... and finally create the `cast` dataframe:

In [13]:
castDF = json_normalize(newDF, "cast", "movieId")

Let's print it out:

In [14]:
castDF

,cast_id,character,credit_id,gender,id,name,order,profile_path,movieId
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,7907,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg,862
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,8873,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg,862
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,1116442,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg,862
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,12901,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg,862
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,12133,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg,862
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,8655,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg,862
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,12903,Sarah Freeman,11,None,862
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,37221,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg,862
13,1,Alan Parrish,52fe44bfc3a36847f80a7c73,2,2157,Robin Williams,0,/sojtJyIV3lkUeThD7A2oHNm8183.jpg,8844
14,8,Samuel Alan Parrish / Van Pelt,52fe44bfc3a36847f80a7c99,2,8537,Jonathan Hyde,1,/7il5D76vx6QVRVlpVvBPEC40MBi.jpg,8844
15,2,Judy Sheperd,52fe44bfc3a36847f80a7c77,1,205,Kirsten Dunst,2,/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg,8844
16,24,Peter Shepherd,52fe44c0c3a36847f80a7ce7,0,145151,Bradley Pierce,3,/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg,8844
17,10,Sarah Whittle,52fe44bfc3a36847f80a7c9d,1,5149,Bonnie Hunt,4,/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg,8844
18,25,Nora Shepherd,52fe44c0c3a36847f80a7ceb,1,10739,Bebe Neuwirth,5,/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg,8844
19,26,Carl Bentley,52fe44c0c3a36847f80a7cef,2,58563,David Alan Grier,6,/5tkt3qRZTco4sz604aTIarQ0m8W.jpg,8844
20,11,Carol Anne Parrish,52fe44bfc3a36847f80a7ca1,1,1276,Patricia Clarkson,7,/10ZSyaUqzUlKTd60HmeiGhlytZG.jpg,8844
21,14,Alan Parrish (young),52fe44bfc3a36847f80a7cad,0,46530,Adam Hann-Byrd,8,/hEoqDqtMO91hYWD5iDrDesnLDlt.jpg,8844
22,13,Sarah Whittle (young),52fe44bfc3a36847f80a7ca9,1,56523,Laura Bell Bundy,9,/8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg,8844
23,31,Exterminator,52fe44c0c3a36847f80a7cff,2,51551,James Handy,10,/vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg,8844
24,12,Mrs. Thomas the Realtor,52fe44bfc3a36847f80a7ca5,1,56522,Gillian Barber,11,/qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg,8844
25,28,Benjamin,52fe44c0c3a36847f80a7cf3,2,1000304,Brandon Obray,12,None,8844
26,29,Caleb,52fe44c0c3a36847f80a7cf7,0,188949,Cyrus Thiedeke,13,None,8844
27,30,Billy Jessup,52fe44c0c3a36847f80a7cfb,0,1076551,Gary Joseph Thorup,14,None,8844
28,32,Cop,5588053fc3a36838530063f5,0,1480246,Leonard Zola,15,None,8844
29,33,Bum,55935687925141645a002097,2,25024,Lloyd Berry,16,/s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg,8844
...,...,...,...,...,...,...,...,...,...
562444,1008,Homer,559eb4ecc3a368081d002158,0,111636,Perry Dizon,1,None,111109
562445,1007,Crazy Woman/Virgin,559eb4d3c3a3680820001dbe,0,1204271,Hazel Orencio,2,/jvAauEKA2N5Lb164SxqupNDAJ2X.jpg,111109
562446,1005,Amang Tiburcio,52fe4af1c3a36847f81e9b2b,2,278923,Joel Torre,3,/5PP5K8EgMhcRA3n1IfRhfcxDS5M.jpg,111109
562447,1015,Ex-convict/Dindo,593ab9f5c3a36822f800d5af,0,1042953,Bart Guingona,4,/fj2d05jly713XeV9eRis2VBUAjo.jpg,111109
562448,1004,Philosopher,52fe4af1c3a36847f81e9b27,0,575774,Soliman Cruz,5,/kPQMcYBcO2pCIPulc7VC16YFovE.jpg,111109
562449,1014,Photographer,58fb45b992514163e300cc58,0,1184497,Roeder,6,None,111109
562450,1003,Ana/Call Center Woman,52fe4af1c3a36847f81e9b23,0,462483,Angeli Bayani,7,/kFCD2eDPj5LKGxauPF2rchlP74h.jpg,111109
562451,1016,Filmmaker/Butcher,593abab49251411ef800e348,0,1728582,Dante Perez,8,None,111109
562452,1006,Poet of the Rain,559eb4ca9251412dac001e20,0,1485780,Betty Uy-Regala,9,None,111109
562453,1013,Homer's mother,58fb45a4925141643c00c6ee,0,1801183,Modesta,10,None,111109
562454,6,Emily Shaw,52fe4776c3a368484e0c83a3,1,23764,Erika Eleniak,0,/7ZdUGY78qpB2MkTzAQvYEYzncwN.jpg,67758
562455,7,Det. Mark Winston,52fe4776c3a368484e0c83a7,2,2059,Adam Baldwin,1,/vhZ8AD36h09mBLuyIXboglRLgIu.jpg,67758
562456,8,Jayne Ferré,52fe4776c3a368484e0c83ab,1,46277,Julie du Page,2,/gBLzn3Z2S7Hx7A0stZBi7mk9fpD.jpg,67758
562457,10,Alex Tyler,52fe4776c3a368484e0c83b3,2,1736,James Remar,3,/AeSuQlBclvWqztlpkf9nIhvvhsc.jpg,67758
562458,11,Tony,52fe4776c3a368484e0c83b7,2,58646,Damian Chapa,4,/e00LyDBIhDOFWgwfSU0wCTLL4ax.jpg,67758
562459,12,Frank Bianci,57ed0c259251410c5b00eccb,2,54649,Louis Mandylor,5,/4DCfloJ8CDsvchaKE0KdYW07obz.jpg,67758
562460,13,Detective Stan,57ed0e5bc3a3685e36007370,2,55270,Tom Wright,6,/AlBgY9VySrLBhVsOJXtUXuflOGG.jpg,67758
562461,9,Kerry Shaw,52fe4776c3a368484e0c83af,2,169498,Jeremy Lelliott,7,None,67758
562462,14,Peter Quinn,57ed0e70c3a3683a990059d4,2,51656,James Quattrochi,8,None,67758
562463,15,Boyd,57ed0e829251416b58006a75,0,1177500,Jason Widener,9,None,67758
562464,16,Sammy Benetto,57ed0e90c3a3687dcf005d12,2,154762,Joe Sabatino,10,None,67758
562465,17,Steve,57ed0f43c3a3683a85005278,2,93930,Kiko Ellsworth,11,/NIHqhiMtAboquWPg5hCu5o1Bax.jpg,67758
562466,18,Fred,57ed0f4ec3a36839f700532b,2,81690,Don Swayze,12,/2JmY7WUmuyvwflKST6nLH7pyd5e.jpg,67758
562467,19,"Artie, Hitman #1",57ed0f5ac3a36839f7005330,2,37822,Peter Dobson,13,/3laM5gryWnG2tfjE2jt0UuPTFlp.jpg,67758
562468,20,Doorman,57ed10149251416b58006b06,0,1686379,Darrell Dubovsky,14,None,67758
562469,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,None,227506
562470,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,None,227506
562471,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,None,227506
562472,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,None,227506
562473,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506

###### Number of cast members per movie:

In [50]:
l = castDF.movieId[castDF.order >= 100].unique()
print('There are', len(l), 'movies with 100 or more cast members listed in the dataset.')

There are 94 movies with 100 or more cast members listed in the dataset.

In [48]:
l = castDF.movieId[castDF.order <= 10].unique()
print('There are', len(l), 'movies with 10 or less cast members listed in the dataset.')

There are 42998 movies with 10 or less cast members listed in the dataset.

###### Movie roles per actress/actor:

Let's see who's the most prolific actor/actress in our database:

In [15]:
valueCounts = castDF.name.value_counts()

In [16]:
print(valueCounts[valueCounts == valueCounts.max()])

Bess Flowers    241
Name: name, dtype: int64

That seems about right. According to [this HollywoodReporter page](https://www.hollywoodreporter.com/race/20-feet-movie-stardom-overlooked-682162) Bess Flowers is known as:
> "_the Queen of the Hollywood Extras_"

Christopher Lee is in second place with 148 appearences. Below is a list of actors and actresses that have appeared in 100 or more movies, with Canada's own Donald Sutherland at number 7.

In [17]:
print(valueCounts[valueCounts >= 100])

Bess Flowers         241
Christopher Lee      148
John Wayne           125
Samuel L. Jackson    123
Michael Caine        110
Gérard Depardieu     110
John Carradine       109
Donald Sutherland    109
Jackie Chan          108
Frank Welker         107
Robert De Niro       104
Danny Trejo          102
Steve Buscemi        101
Name: name, dtype: int64

In [18]:
print(f'There are {len(valueCounts)} actors/actresses in the dataset.')
print(f'{np.round(len(valueCounts[valueCounts==1])/len(valueCounts),3)*100}% ({len(valueCounts[valueCounts==1])} actors/actresses) of them appeared only in one movie.')

There are 202747 actors/actresses in the dataset.
63.9% (129508 actors/actresses) of them appeared only in one movie.

 Bess Flowers (#1) and Susan Sarandon(#20) are the only women on the top 20 list of movie appearences:

In [19]:
print(valueCounts[:20])

Bess Flowers          241
Christopher Lee       148
John Wayne            125
Samuel L. Jackson     123
Michael Caine         110
Gérard Depardieu      110
John Carradine        109
Donald Sutherland     109
Jackie Chan           108
Frank Welker          107
Robert De Niro        104
Danny Trejo           102
Steve Buscemi         101
Irving Bacon           98
John Goodman           97
Danny Glover           96
Christopher Walken     96
Dennis Hopper          94
Susan Sarandon         93
John Hurt              93
Name: name, dtype: int64

The data  in the gender columns looks inconsistent. There are three categories: 0, 1 and 2.

In [20]:
print(castDF.gender.value_counts())

2    226713
0    223964
1    111797
Name: gender, dtype: int64

Below is a slice of the dataset for gender category 0. We can see that, just by guessing the gender using the names, the data is mixed.

In [21]:
castDF[castDF.gender==0][["character", "name"]]

                                            character                  name
7                                        Andy (voice)           John Morris
16                                     Peter Shepherd        Bradley Pierce
21                               Alan Parrish (young)        Adam Hann-Byrd
26                                              Caleb        Cyrus Thiedeke
27                                       Billy Jessup    Gary Joseph Thorup
28                                                Cop          Leonard Zola
31                                    Martha Shepherd       Annabel Kershaw
33                                          Paramedic        Robyn Driscoll
35                                               Girl          Sarah Gilson
36                                               Girl          Florica Vlad
37                                              Baker             June Lion
38                                            Pianist     Brenda Lockmuller
61                                        Matty Banks         Kieran Culkin
95                                    Hooker's Mother       Hazelle Goodman
97                                Shooter at Drive-in           Max Daniels
98                                 Driver at Drive-in    Vince Deadrick Jr.
104                                   Captain Jackson           Brian Libby
106                                        Bank Guard         Mario Roberts
107                             Armoured Truck Driver   Thomas Rosales, Jr.
109     1st SIS Detective in the hallway (uncredited)            Mick Gould
111                      Castilian Woman (uncredited)         Viviane Vives
114                        Children's Hospital Doctor        Brad Baldridge
115                                          Dominick       Andrew Camuccio
116                                         Bartender          Kenny Endoso
118                                    Marcia Drucker           Niki Harris
119                                    Armoured Guard         Bill McIntosh
120                                 Basketball Player           Rick Marzan
121                         Children's Hospital Nurse          Terry Miller
122                                         Detective         Daniel O'Haco
124                           Bar Couple (uncredited)       Peter Blackwell
...                                               ...                   ...
562408                                      John Huck             John Huck
562409                                    Kim Diamond      Rachel Moskowitz
562410                                    Miriam Lane       Sandy Mulvihill
562414                                  David Paulson        Richard Sexton
562415                                     Bill Dixon         Rich Williams
562416                               Donald McFerrell              Ray Xifo
562419                                     Kyle Brody         David Grammer
562420                                    Bill Barnes         Bill Dreggors
562421                                    Rustin Parr          Frank Pastor
562426                                           Daly             Kena Land
562427                                          Ruggs         Zaneta Polard
562428                                          Lewis             Don Yanan
562429                                         Billie       Debra K. Beatty
562431                                        Reitman    Robert J. Ferrelli
562432                                            Ice  Ellyn Dawn Humphreys
562439                           Baron Roger Daguerre         Jeroen Krabbé
562441                                                       Kourosh Tahami
562442                                                          Elham Korda
562444                                          Homer           Perry Dizon
562445                             Crazy Woman/Virgin         Hazel Orencio
562447                               Ex-convict/Dindo         Bart Guingona
562448                                    Philosopher         Soliman Cruz
562449                                   Photographer                Roeder
562450                          Ana/Call Center Woman         Angeli Bayani
562451                              Filmmaker/Butcher           Dante Perez
562452                               Poet of the Rain       Betty Uy-Regala
562453                                 Homer's mother               Modesta
562463                                           Boyd         Jason Widener
562468                                        Doorman      Darrell Dubovsky
562472                                                    Aleksandr Chabrov

[223964 rows x 2 columns]

I don't think, we'll be able to use the gender column in any sensible way given that it's all mixed up.

#### Crew data:
Let's create the crew dataset:

In [22]:
tempDF = creditsDF.iloc[:,[1, 2]].apply(makeDicts, axis=1)

In [23]:
tempDF.dropna(inplace=True)
tempDF

0        {'movieId': 862, 'crew': [{'credit_id': '52fe4...
1        {'movieId': 8844, 'crew': [{'credit_id': '52fe...
2        {'movieId': 15602, 'crew': [{'credit_id': '52f...
3        {'movieId': 31357, 'crew': [{'credit_id': '52f...
4        {'movieId': 11862, 'crew': [{'credit_id': '52f...
5        {'movieId': 949, 'crew': [{'credit_id': '52fe4...
6        {'movieId': 11860, 'crew': [{'credit_id': '52f...
7        {'movieId': 45325, 'crew': [{'credit_id': '52f...
8        {'movieId': 9091, 'crew': [{'credit_id': '52fe...
9        {'movieId': 710, 'crew': [{'credit_id': '52fe4...
10       {'movieId': 9087, 'crew': [{'credit_id': '52fe...
11       {'movieId': 12110, 'crew': [{'credit_id': '52f...
12       {'movieId': 21032, 'crew': [{'credit_id': '593...
13       {'movieId': 10858, 'crew': [{'credit_id': '52f...
14       {'movieId': 1408, 'crew': [{'credit_id': '52fe...
15       {'movieId': 524, 'crew': [{'credit_id': '52fe4...
16       {'movieId': 4584, 'crew': [{'credit_id': '52fe...
17       {'movieId': 5, 'crew': [{'credit_id': '52fe420...
18       {'movieId': 9273, 'crew': [{'credit_id': '52fe...
19       {'movieId': 11517, 'crew': [{'credit_id': '52f...
20       {'movieId': 8012, 'crew': [{'credit_id': '52fe...
21       {'movieId': 1710, 'crew': [{'credit_id': '52fe...
22       {'movieId': 9691, 'crew': [{'credit_id': '52fe...
23       {'movieId': 12665, 'crew': [{'credit_id': '52f...
24       {'movieId': 451, 'crew': [{'credit_id': '52fe4...
25       {'movieId': 16420, 'crew': [{'credit_id': '546...
26       {'movieId': 9263, 'crew': [{'credit_id': '52fe...
27       {'movieId': 17015, 'crew': [{'credit_id': '52f...
28       {'movieId': 902, 'crew': [{'credit_id': '52fe4...
29       {'movieId': 37557, 'crew': [{'credit_id': '52f...
                               ...
45446    {'movieId': 45527, 'crew': [{'credit_id': '52f...
45447    {'movieId': 455661, 'crew': [{'credit_id': '59...
45448    {'movieId': 327237, 'crew': [{'credit_id': '54...
45449    {'movieId': 84710, 'crew': [{'credit_id': '52f...
45450    {'movieId': 39562, 'crew': [{'credit_id': '562...
45451    {'movieId': 14008, 'crew': [{'credit_id': '52f...
45452    {'movieId': 44330, 'crew': [{'credit_id': '52f...
45453    {'movieId': 49279, 'crew': [{'credit_id': '52f...
45454    {'movieId': 44333, 'crew': [{'credit_id': '52f...
45455    {'movieId': 49277, 'crew': [{'credit_id': '52f...
45456    {'movieId': 49271, 'crew': [{'credit_id': '52f...
45457    {'movieId': 44324, 'crew': [{'credit_id': '52f...
45458    {'movieId': 122036, 'crew': [{'credit_id': '52...
45459    {'movieId': 14885, 'crew': [{'credit_id': '52f...
45460    {'movieId': 49280, 'crew': [{'credit_id': '52f...
45461    {'movieId': 106807, 'crew': [{'credit_id': '52...
45462    {'movieId': 276895, 'crew': [{'credit_id': '53...
45463    {'movieId': 404604, 'crew': [{'credit_id': '58...
45464    {'movieId': 420346, 'crew': [{'credit_id': '58...
45465    {'movieId': 67179, 'crew': [{'credit_id': '533...
45466    {'movieId': 84419, 'crew': [{'credit_id': '581...
45467    {'movieId': 390959, 'crew': [{'credit_id': '56...
45468    {'movieId': 289923, 'crew': [{'credit_id': '54...
45469    {'movieId': 222848, 'crew': [{'credit_id': '57...
45470    {'movieId': 30840, 'crew': [{'credit_id': '52f...
45471    {'movieId': 439050, 'crew': [{'credit_id': '58...
45472    {'movieId': 111109, 'crew': [{'credit_id': '52...
45473    {'movieId': 67758, 'crew': [{'credit_id': '52f...
45474    {'movieId': 227506, 'crew': [{'credit_id': '53...
45475    {'movieId': 461257, 'crew': [{'credit_id': '59...
Length: 44705, dtype: object

In [24]:
crewDF = json_normalize(tempDF, "crew", "movieId")

In [25]:
crewDF

,credit_id,department,gender,id,job,name,profile_path,movieId
0,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,862
1,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,862
2,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,862
3,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,862
4,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,862
5,52fe4284c3a36847f8024f67,Production,1,12894,Producer,Bonnie Arnold,None,862
6,52fe4284c3a36847f8024f6d,Production,0,12895,Executive Producer,Ed Catmull,None,862
7,52fe4284c3a36847f8024f73,Production,2,12896,Producer,Ralph Guggenheim,None,862
8,52fe4284c3a36847f8024f79,Production,2,12897,Executive Producer,Steve Jobs,/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg,862
9,52fe4284c3a36847f8024f8b,Editing,2,8,Editor,Lee Unkrich,/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg,862
10,52fe4284c3a36847f8024f91,Art,2,7883,Art Direction,Ralph Eggleston,/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg,862
11,598331bf925141421201044b,Editing,2,1168870,Editor,Robert Gordon,None,862
12,5892168cc3a36809660095f9,Sound,0,1552883,Foley Editor,Mary Helen Leasman,None,862
13,5531824d9251415289000945,Visual Effects,0,1453514,Animation,Kim Blanchette,None,862
14,589215969251412dcb009bf6,Sound,0,1414182,ADR Editor,Marilyn McCoppen,None,862
15,589217099251412dc500a018,Sound,2,7885,Orchestrator,Randy Newman,/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg,862
16,5693e6b29251417b0e0000e3,Editing,0,1429549,Color Timer,Dale E. Grahn,None,862
17,572e2522c3a36869e6001a9c,Visual Effects,0,7949,CG Painter,Robin Cooper,None,862
18,574f12309251415ca1000012,Writing,2,7879,Original Story,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,862
19,574f1240c3a3682e7300001c,Writing,2,12890,Original Story,Pete Docter,/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg,862
20,574f12519251415c92000015,Writing,0,7911,Original Story,Joe Ranft,/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg,862
21,574f12cec3a3682e82000022,Crew,0,1629419,Post Production Supervisor,Patsy Bouge,None,862
22,574f14f19251415ca1000082,Art,0,7961,Sculptor,Norm DeCarlo,None,862
23,5751ae4bc3a3683772002b7f,Visual Effects,2,12905,Animation Director,Ash Brannon,/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg,862
24,5891edbe9251412dc5007cd6,Sound,2,7885,Music,Randy Newman,/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg,862
25,589213d39251412dc8009832,Directing,0,1748707,Layout,Roman Figun,None,862
26,5892173dc3a3680968009351,Sound,2,4949,Orchestrator,Don Davis,None,862
27,589217cec3a3686b0a0052ba,Sound,0,1372885,Music Editor,James Flamberg,None,862
28,58921831c3a3686348004a64,Editing,0,1739962,Negative Cutter,Mary Beth Smith,None,862
29,58921838c3a36809700096c0,Editing,0,1748513,Negative Cutter,Rick Mackay,None,862
...,...,...,...,...,...,...,...,...
464284,55684300c3a3681c5700203f,Writing,2,39812,Writer,John McGrath,None,30840
464285,55684313c3a3681c60002052,Writing,0,1471628,Story,Sam Resnick,None,30840
464286,55684336c3a3686bc3000f6a,Production,1,18073,Producer,Sarah Radclyffe,None,30840
464287,556843499251417453000f47,Sound,0,10716,Music,Geoffrey Burgon,None,30840
464288,556843b1c3a368363200123a,Camera,0,1020779,Director of Photography,Jason Lehel,None,30840
464289,556843cfc3a3681c7e001e65,Editing,2,66105,Editor,Peter Tanner,None,30840
464290,556843ebc3a3686bc3000f83,Production,1,1302,Casting,Susie Figgis,None,30840
464291,5894a97d925141426c00818c,Directing,0,1182809,Director,Hamid Nematollah,None,439050
464292,5894a9a09251414280007e4e,Production,0,1182809,Producer,Hamid Nematollah,None,439050
464293,5894aa6fc3a36840a700812c,Camera,0,1543705,Camera Supervisor,Farshad Mohammadi,None,439050
464294,5894a9dd925141427e007a35,Crew,0,1749842,Script,Masoumeh Bayat,None,439050
464295,5894ab82c3a368409f007e40,Editing,0,1749847,Editor,Mehdi Saadi,None,439050
464296,5894adc1c3a36840a700839d,Sound,0,1749860,Sound Director,Babak Ardalan,None,439050
464297,5894ae1992514142800081fc,Costume & Make-Up,0,1749861,Costume Design,Azadeh Ghavam,None,439050
464298,5894ae46c3a36840a70083f8,Costume & Make-Up,0,1749862,Makeup Designer,Sahand Torabi,None,439050
464299,5894ae78c3a36840b1008369,Sound,0,1749863,Songs,Homayoun Shajarian,None,439050
464300,52fe4af1c3a36847f81e9b15,Directing,0,1051381,Director,Lav Diaz,/lWZ6mJCrPga6Jis1gbJYcpWpBZo.jpg,111109
464301,52fe4af1c3a36847f81e9b1b,Writing,0,1051381,Writer,Lav Diaz,/lWZ6mJCrPga6Jis1gbJYcpWpBZo.jpg,111109
464302,5862a509c3a36852d2000097,Art,0,1728582,Production Design,Dante Perez,None,111109
464303,5862a51e9251412b870000a4,Sound,0,1051381,Music,Lav Diaz,/lWZ6mJCrPga6Jis1gbJYcpWpBZo.jpg,111109
464304,5862a52f9251412b870000b3,Editing,0,1051381,Editor,Lav Diaz,/lWZ6mJCrPga6Jis1gbJYcpWpBZo.jpg,111109
464305,5862a53a9251412b8a0000b7,Crew,0,1051381,Cinematography,Lav Diaz,/lWZ6mJCrPga6Jis1gbJYcpWpBZo.jpg,111109
464306,52fe4776c3a368484e0c8387,Directing,2,67753,Director,Mark L. Lester,None,67758
464307,52fe4776c3a368484e0c838d,Writing,2,19713,Screenplay,C. Courtney Joyner,None,67758
464308,52fe4776c3a368484e0c8393,Writing,2,549355,Screenplay,Jeffrey Goldenberg,/cX9qmOSujqnjIqDVS1jlNSpWLHx.jpg,67758
464309,52fe4776c3a368484e0c8399,Sound,0,549356,Original Music Composer,Richard McHugh,None,67758
464310,52fe4776c3a368484e0c839f,Camera,2,58818,Director of Photography,João Fernandes,None,67758
464311,533bccebc3a36844cf0011a7,Directing,0,1085341,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg,227506
464312,58ebbc26925141281908aa0a,Production,2,1195656,Producer,Joseph N. Ermolieff,None,227506
464313,593e676c92514105b702e68e,Directing,0,1344495,Director,Daisy Asquith,None,461257

In [26]:
crewDeps = crewDF.department.value_counts()
print(f'There are {len(crewDeps)} unique Departments in the crew dataset:')
print(crewDeps)

There are 12 unique Departments in the crew dataset:
Production           94498
Writing              74831
Directing            58134
Sound                50605
Art                  40694
Camera               33539
Crew                 31605
Costume & Make-Up    30850
Editing              29831
Visual Effects       14861
Lighting              4847
Actors                  19
Name: department, dtype: int64

There is a department called "Actors" that appears 19 times. Let's check those rows out:

In [138]:
crewDF[crewDF.department == "Actors"]

,credit_id,department,gender,id,job,name,profile_path,movieId
13877,52fe4227c3a36847f800823d,Actors,0,2659,Stunt Double,Sol Gorss,None,213
37610,52fe42f1c3a36847f802e9d5,Actors,0,16500,Stunt Double,Mark De Alessandro,None,1375
43512,52fe427ac3a36847f8021c71,Actors,0,14445,Stunt Double,Leigh Walsh,None,813
56106,52fe424fc3a36847f80143c3,Actors,0,7344,Stunt Double,Martha Crawford,None,541
113958,52fe42f0c3a36847f802e7c5,Actors,0,16689,Stunt Double,Diana Wiersma,None,1373
137687,52fe46c7c3a36847f8111b93,Actors,2,1979,Voice,Kevin Spacey,/cdowETe1PgXLjo72hDb7R7tyavf.jpg,45538
166719,52fe42f0c3a36847f802e67d,Actors,0,16740,Stunt Double,Francois Grobbelaar,None,1372
166720,52fe42f0c3a36847f802e683,Actors,0,16741,Stunt Double,Mick 'Stuntie' Milligan,None,1372
213762,52fe46269251416c9104ad0d,Actors,0,119183,Stunt Double,Giorgio Antonini,None,37056
258423,52fe44a0c3a368484e02dbbf,Actors,0,132658,Voice,Fraser McGregor,None,24617
412217,52fe468f9251416c910585bb,Actors,0,119509,Actor,Gwynne Dyer,None,38061
422783,52fe45fac3a36847f80e5519,Actors,2,4818,Actor,Roberto Benigni,/v2C2JVPVRg0zwgrI0yqeanUxVLa.jpg,42290
422784,52fe45fac3a36847f80e5537,Actors,1,6588,Actor,Isabella Rossellini,/yKnom6aUaP17Z49mypVZmq1jdjH.jpg,42290
422785,52fe45fac3a36847f80e5525,Actors,0,28259,Actor,Luciano De Crescenzo,/48o52Fawdp5nKm4wcxGxKBpOhXa.jpg,42290
422787,52fe45fac3a36847f80e551f,Actors,2,55912,Actor,Diego Abatantuono,/kKihAlP104AJ0zshWfET2gGt4fA.jpg,42290
422788,52fe45fac3a36847f80e552b,Actors,2,69785,Actor,Andy Luotto,/jGbMLolsbfLpIXeez3K6neYrMZq.jpg,42290
422789,52fe45fac3a36847f80e5531,Actors,2,127634,Actor,Mario Marenco,None,42290
422911,52fe44b39251416c91019c5b,Actors,1,30121,Actor,Barbara Parkins,/p1nVhk32JBO3nJCMTNJr9UUitYW.jpg,32034
422914,52fe44b39251416c91019c4f,Actors,2,87723,Actor,Sven-Bertil Taube,/e4ra4ZFKQ5zDijQHh0x3TlGApWW.jpg,32034

The three job categories, `Stunt Double`, `Voice` and `Actor`, do not appear anywhere else in the dataset, except the above rows.

In [154]:
smallList = crewDF[crewDF.department == "Actors"].job.unique()
print("_"*29)
for i in smallList:
    print(i + ":")
    print("-"*(len(i)+1))
    print(crewDF[crewDF.job == i].name.value_counts())
    print("_"*29)

_____________________________
Stunt Double:
-------------
Martha Crawford            1
Francois Grobbelaar        1
Giorgio Antonini           1
Leigh Walsh                1
Mick 'Stuntie' Milligan    1
Diana Wiersma              1
Sol Gorss                  1
Mark De Alessandro         1
Name: name, dtype: int64
_____________________________
Voice:
------
Kevin Spacey       1
Fraser McGregor    1
Name: name, dtype: int64
_____________________________
Actor:
------
Sven-Bertil Taube       1
Mario Marenco           1
Roberto Benigni         1
Gwynne Dyer             1
Luciano De Crescenzo    1
Diego Abatantuono       1
Andy Luotto             1
Barbara Parkins         1
Isabella Rossellini     1
Name: name, dtype: int64
_____________________________

Let's look at the crew job categories:

In [125]:
crewJobs = crewDF.job.value_counts()

In [128]:
print(f'There are {len(crewJobs)} unique crew jobs in the dataset.')

There are 456 unique crew jobs in the dataset.

In [129]:
print(crewJobs)

Director                          49048
Producer                          43555
Writer                            30431
Screenplay                        25163
Editor                            23800
Director of Photography           20659
Executive Producer                18866
Original Music Composer           15790
Casting                           12635
Art Direction                     11689
Costume Design                    11023
Production Design                 10536
Set Decoration                     7548
Music                              7340
Makeup Artist                      6402
Story                              5810
Novel                              5128
Script Supervisor                  4328
Cinematography                     4210
Camera Operator                    4128
Animation                          3834
Sound Re-Recording Mixer           3680
Associate Producer                 3595
Hairstylist                        3539
Co-Producer                        3189
Assistant Director                 2978
Visual Effects Supervisor          2951
Still Photographer                 2913
Sound Effects Editor               2779
Stunts                             2753
                                  ...
Directing Lighting Artist             3
Lead Set Dresser                      3
Animation Fix Coordinator             3
Sign Painter                          3
Wig Designer                          3
Ultimate Arm Operator                 3
Assistant Music Supervisor            2
Archival Footage Coordinator          2
Animatronics Supervisor               2
Schedule Coordinator                  2
Dramaturgy                            2
Prop Designer                         2
Coordinating Producer                 2
Sound Montage Associate               2
Stereoscopic Coordinator              2
Voice                                 2
Archival Footage Research             2
Battle Motion Coordinator             1
Lead Character Designer               1
3D Director                           1
CG Engineer                           1
Video Game                            1
Opening/Ending Animation              1
Temp Sound Editor                     1
Character Modelling Supervisor        1
Cloth Setup                           1
Costume Consultant                    1
Underwater Gaffer                     1
Sequence Artist                       1
Dramaturgie                           1
Name: job, Length: 456, dtype: int64

In [157]:
directorCounts = crewDF[crewDF.job == "Director"].name.value_counts()

In [159]:
print(f'There are {len(directorCounts)} Directors in the dataset.')

There are 19740 Directors in the dataset.

Below are the most prolific directors:

In [161]:
print(directorCounts[:10])

John Ford             68
Michael Curtiz        65
Werner Herzog         55
Alfred Hitchcock      53
Georges Méliès        51
Jean-Luc Godard       50
Woody Allen           49
Sidney Lumet          46
Charlie Chaplin       44
William A. Wellman    43
Name: name, dtype: int64

In [175]:
print(f'{len(directorCounts[directorCounts == 1])} directors ({np.round(len(directorCounts[directorCounts == 1])/len(directorCounts),3)*100}%) have only directed one film in our dataset.')

12176 directors (61.7%) have only directed one film in our dataset.

## Movies metadata:

Let's move on to the other datasets, like the one with the movie metadata.

In [27]:
metadataDF = pd.read_csv("C:\\Users\\vosilr2\\Documents\\NAMV_MLcontest\\data\\movies_metadata.csv", low_memory=False)

In [65]:
metadataDF.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Number of observations in the dataset:

In [29]:
len(metadataDF)

45466

The column names in the metadata dataset:

In [73]:
list(metadataDF.columns)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

let's take a look at the unique values in the first column, `adult`:

In [85]:
print(metadataDF.adult.unique())

['False' 'True' ' - Written by Ørnås'
 ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.'
 ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']

That looks a bit odd, the first two values, False and True, are as expected. However, there seems to be some erroneous input in this column. Let's check the rows where the three strings in the list above are in the `adult` column:

In [89]:
metadataDF[(metadataDF.adult == ' - Written by Ørnås') | 
           (metadataDF.adult == ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.') |
           (metadataDF.adult == ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.')]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It seems that these three rows have data in the wrong columns, let's examine the first one, located in row 19730 by printing it out, including two adjacent rows:

In [97]:
metadataDF.iloc[19729,]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
homepage                                                               NaN
id                                                                   82663
imdb_id                                                          tt0113002
original_language                                                       en
original_title                                                Midnight Man
overview                 British soldiers force a recently captured IRA...
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19729, dtype: object

In [98]:
metadataDF.iloc[19730,]

adult                                                   - Written by Ørnås
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

So, it looks like rows 19729 and 19730 are actually one entry that got split into two in the middle. You can see in the image below, that the description of Midnightman on IMDB was written by Ørnås:

![Image of midnightman](files/midnightMan.jpeg)

Upon checking the movies_metadata.csv file in notepad, there seems to be a new line character right before the words __- Written by Ørnås__, which causes the `Pandas` to assume it's a linebreak and split this entry right at the linebreak. I've fixed the issue by removing that linebreak. The same is done for the other two entries in rows 29503 and 35587. Let's reload the dataset now:

In [171]:
metadataDF = pd.read_csv("C:\\Users\\vosilr2\\Documents\\NAMV_MLcontest\\data\\movies_metadata.csv", low_memory=False)
print(metadataDF.adult.unique())

[False  True]

Now, let's convert the `budget` and `revenue` columns from string into numeric values:

In [173]:
metadataDF.budget = pd.to_numeric(metadataDF.budget)
metadataDF.revenue = pd.to_numeric(metadataDF.revenue)

In [174]:
metadataDF.budget.value_counts()

0            36573
5000000        286
10000000       259
20000000       243
2000000        242
15000000       226
3000000        223
25000000       206
1000000        197
30000000       190
4000000        181
6000000        174
12000000       172
40000000       167
8000000        155
500000         142
35000000       141
7000000        137
50000000       124
1500000        120
60000000       110
18000000       105
3500000        103
2500000        100
13000000        89
9000000         87
11000000        83
14000000        76
16000000        75
17000000        71
             ...
10920000         1
786675           1
2515000          1
172000           1
747487           1
1880006          1
22361            1
1105736          1
280379           1
25485000         1
17080000         1
270000           1
48740            1
3849796          1
12156348         1
1220000          1
155000           1
171200           1
679000           1
8575000          1
5037000          1
4185000          1
126000000        1
1203000          1
3705538          1
3005000          1
2349352          1
19700000         1
275              1
40600000         1
Name: budget, Length: 1223, dtype: int64

It looks like there is a huge portion of movies that has no budget data. Let's check how many of the movies actually have non-zero observations for budget and revenue:

In [178]:
print(f'There are {len(metadataDF[metadataDF.budget != 0])} movies with non-zero values for Budget.')
print(f'There are {len(metadataDF[metadataDF.revenue != 0])} movies with non-zero values for Revenue.')

There are 8890 movies with non-zero values for Budget.
There are 7408 movies with non-zero values for Revenue.

Let's see how many observations we have with data for, both, revenue and budget:

In [181]:
n = len(metadataDF[(metadataDF.revenue != 0) & (metadataDF.budget != 0)])
print(n)

5381

It doesn't look good:

In [191]:
print(f'Only {n} observations ({np.round(n/len(metadataDF)*100,1)}% of original data) can be used for the movie profitability prediction.')

Only 5381 observations (11.8% of original data) can be used for the movie profitability prediction.

In [194]:
metadataDF.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

In [281]:
newDF = metadataDF[(metadataDF.revenue != 0) & (metadataDF.budget != 0)]
DF = metadataDF.join(other = df.set_index("id"), on="id", how="left")

In [283]:
DF2 = DF[(DF.revenue != 0) & (DF.budget != 0)]

In [286]:
print(DF.budget.sum())
print(DF2.budget.sum())
print(newDF.budget.sum())

print(DF.shape)
print(DF2.shape)
print(newDF.shape)
print(DF.columns)

192319916913
167552122038
167321097122
(45539, 26)
(5393, 26)
(5381, 24)
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [277]:
def tomHanks(dictionary, actorId):
    for k, v in dictionary.items():
        if k==actorId:
            return v#['cast_id']
        else:
            return np.NaN

tomHanksDF = df.cast.apply(lambda x: tomHanks(x, 31)).dropna()
len(tomHanksDF)

39

In [239]:
actorsList = []
def actorList(dictionary):
    for k in dictionary.keys():
        if k not in actorsList:
            actorsList.append(k)

In [241]:
df.cast.apply(actorList)
print(actorsList)

KeyboardInterrupt:

In [230]:
df.cast[0]

{31: {'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 7167: {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 7907: {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 8655: {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 8873: {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 12133: {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 12898: {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 12899: {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 12900: {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 12901: {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 12903: {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': 'None'},
 37221: {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'},
 1116442: {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}}

#### Keywords:

In [ ]:
keywordsDF = pd.read_csv("C:\\Users\\vosilr2\\Documents\\NAMV_MLcontest\\data\\keywords.csv")
keywordsDF.head()