In [1]:
import pandas as pd
import numpy as np
import yaml
from pprint import pprint as pprint
import h5py
from pandas.io.json import json_normalize as jn

C:\Users\vosilr2\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
keywordsDF = pd.read_csv("C:\\Users\\vosilr2\\Documents\\NAMV_MLcontest\\data\\keywords.csv")
keywordsDF.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [3]:
print(f'Numobs: {len(keywordsDF)}')

Numobs: 46419

In [4]:
keywordsDF.keywords[0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [109]:
#smallDF = keywordsDF.iloc[:7,:].copy(deep=True)
#pprint(smallDF)
#pprint(smallDF.keywords[0])

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5    949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6  11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
("[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, "
 "'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': "
 "'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy "
 "next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy "
 "comes to life'}]")

In [5]:
keywordsDF.iloc[:, 1] = keywordsDF.iloc[:,1].apply(yaml.load)

In [7]:
keywordsDF.keywords[10]

[{'id': 833, 'name': 'white house'},
 {'id': 840, 'name': 'usa president'},
 {'id': 1605, 'name': 'new love'},
 {'id': 33476, 'name': 'widower'},
 {'id': 211505, 'name': 'wildlife conservation'}]

In [8]:
keywordsDF.rename(index=str, columns={"id":"movieId"}, inplace=True)

In [9]:
keywordsDF

       movieId                                           keywords
0          862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1         8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2        15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3        31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4        11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5          949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6        11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7        45325                                                 []
8         9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9          710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10        9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11       12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12       21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13       10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
14        1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
15         524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
16        4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
17           5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
18        9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
19       11517  [{'id': 380, 'name': 'brother brother relation...
20        8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
21        1710  [{'id': 796, 'name': 'police brutality'}, {'id...
22        9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
23       12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
24         451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
25       16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
26        9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
27       17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
28         902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
29       37557  [{'id': 964, 'name': 'servant'}, {'id': 2311, ...
...        ...                                                ...
46389    45527                                                 []
46390   455661  [{'id': 9673, 'name': 'love'}, {'id': 13130, '...
46391   327237  [{'id': 5565, 'name': 'biography'}, {'id': 102...
46392    84710           [{'id': 208422, 'name': 'paula dupree'}]
46393    39562  [{'id': 2064, 'name': 'overweight'}, {'id': 10...
46394    14008        [{'id': 171803, 'name': 'military school'}]
46395    44330            [{'id': 169590, 'name': 'police raid'}]
46396    49279  [{'id': 10124, 'name': 'laboratory'}, {'id': 1...
46397    44333  [{'id': 2343, 'name': 'magic'}, {'id': 154802,...
46398    49277  [{'id': 154802, 'name': 'silent film'}, {'id':...
46399    49271  [{'id': 11320, 'name': 'tenant'}, {'id': 15480...
46400    44324                                                 []
46401   122036                                                 []
46402    14885  [{'id': 3335, 'name': 'halloween'}, {'id': 193...
46403    49280                                                 []
46404   106807  [{'id': 5970, 'name': 'wrestling'}, {'id': 607...
46405   276895                                                 []
46406   404604  [{'id': 155794, 'name': 'physical abuse'}, {'i...
46407   420346                                                 []
46408    67179                                                 []
46409    84419  [{'id': 9748, 'name': 'revenge'}, {'id': 9826,...
46410   390959            [{'id': 224180, 'name': 'blair witch'}]
46411   289923  [{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...
46412   222848                                                 []
46413    30840                                                 []
46414   439050             [{'id': 10703, 'name': 'tragic love'}]
46415   111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416    67758                                                 []
46417   227506                                                 []
46418   461257                                                 []

[46419 rows x 2 columns]

In [10]:
keywordsDF.iloc[:,[1, 0]].iloc[0,0][0]

{'id': 931, 'name': 'jealousy'}

In [11]:
def makeDicts(row):
    if len(row[0]) != 0:
        x = {row.index[1] : row[1],
             row.index[0] : row[0][:len(row[0])]}
    else:
        x = np.NaN
    return x

In [12]:
keywordsDF.iloc[:,1] = keywordsDF.iloc[:,[1, 0]].apply(makeDicts, axis=1)

In [16]:
keywordsDF.dropna(inplace=True)
display(keywordsDF)

       movieId                                           keywords
0          862  {'movieId': 862, 'keywords': [{'id': 931, 'nam...
1         8844  {'movieId': 8844, 'keywords': [{'id': 10090, '...
2        15602  {'movieId': 15602, 'keywords': [{'id': 1495, '...
3        31357  {'movieId': 31357, 'keywords': [{'id': 818, 'n...
4        11862  {'movieId': 11862, 'keywords': [{'id': 1009, '...
5          949  {'movieId': 949, 'keywords': [{'id': 642, 'nam...
6        11860  {'movieId': 11860, 'keywords': [{'id': 90, 'na...
8         9091  {'movieId': 9091, 'keywords': [{'id': 949, 'na...
9          710  {'movieId': 710, 'keywords': [{'id': 701, 'nam...
10        9087  {'movieId': 9087, 'keywords': [{'id': 833, 'na...
11       12110  {'movieId': 12110, 'keywords': [{'id': 3633, '...
12       21032  {'movieId': 21032, 'keywords': [{'id': 1994, '...
13       10858  {'movieId': 10858, 'keywords': [{'id': 840, 'n...
14        1408  {'movieId': 1408, 'keywords': [{'id': 911, 'na...
15         524  {'movieId': 524, 'keywords': [{'id': 383, 'nam...
16        4584  {'movieId': 4584, 'keywords': [{'id': 420, 'na...
17           5  {'movieId': 5, 'keywords': [{'id': 612, 'name'...
18        9273  {'movieId': 9273, 'keywords': [{'id': 409, 'na...
19       11517  {'movieId': 11517, 'keywords': [{'id': 380, 'n...
20        8012  {'movieId': 8012, 'keywords': [{'id': 395, 'na...
21        1710  {'movieId': 1710, 'keywords': [{'id': 796, 'na...
22        9691  {'movieId': 9691, 'keywords': [{'id': 271, 'na...
23       12665  {'movieId': 12665, 'keywords': [{'id': 7345, '...
24         451  {'movieId': 451, 'keywords': [{'id': 30, 'name...
25       16420  {'movieId': 16420, 'keywords': [{'id': 497, 'n...
26        9263  {'movieId': 9263, 'keywords': [{'id': 1228, 'n...
27       17015  {'movieId': 17015, 'keywords': [{'id': 1316, '...
28         902  {'movieId': 902, 'keywords': [{'id': 402, 'nam...
29       37557  {'movieId': 37557, 'keywords': [{'id': 964, 'n...
30        9909  {'movieId': 9909, 'keywords': [{'id': 897, 'na...
...        ...                                                ...
46356    64197  {'movieId': 64197, 'keywords': [{'id': 187056,...
46361   100152  {'movieId': 100152, 'keywords': [{'id': 187056...
46367    75608  {'movieId': 75608, 'keywords': [{'id': 2167, '...
46368   275331  {'movieId': 275331, 'keywords': [{'id': 409, '...
46370   461297  {'movieId': 461297, 'keywords': [{'id': 9663, ...
46371   258907  {'movieId': 258907, 'keywords': [{'id': 14629,...
46372   127762  {'movieId': 127762, 'keywords': [{'id': 154802...
46374    52103  {'movieId': 52103, 'keywords': [{'id': 10183, ...
46381    45029  {'movieId': 45029, 'keywords': [{'id': 720, 'n...
46382    36680  {'movieId': 36680, 'keywords': [{'id': 310, 'n...
46383   222872  {'movieId': 222872, 'keywords': [{'id': 1612, ...
46386     5589  {'movieId': 5589, 'keywords': [{'id': 3205, 'n...
46390   455661  {'movieId': 455661, 'keywords': [{'id': 9673, ...
46391   327237  {'movieId': 327237, 'keywords': [{'id': 5565, ...
46392    84710  {'movieId': 84710, 'keywords': [{'id': 208422,...
46393    39562  {'movieId': 39562, 'keywords': [{'id': 2064, '...
46394    14008  {'movieId': 14008, 'keywords': [{'id': 171803,...
46395    44330  {'movieId': 44330, 'keywords': [{'id': 169590,...
46396    49279  {'movieId': 49279, 'keywords': [{'id': 10124, ...
46397    44333  {'movieId': 44333, 'keywords': [{'id': 2343, '...
46398    49277  {'movieId': 49277, 'keywords': [{'id': 154802,...
46399    49271  {'movieId': 49271, 'keywords': [{'id': 11320, ...
46402    14885  {'movieId': 14885, 'keywords': [{'id': 3335, '...
46404   106807  {'movieId': 106807, 'keywords': [{'id': 5970, ...
46406   404604  {'movieId': 404604, 'keywords': [{'id': 155794...
46409    84419  {'movieId': 84419, 'keywords': [{'id': 9748, '...
46410   390959  {'movieId': 390959, 'keywords': [{'id': 224180...
46411   289923  {'movieId': 289923, 'keywords': [{'id': 616, '...
46414   439050  {'movieId': 439050, 'keywords': [{'id': 10703,...
46415   111109  {'movieId': 111109, 'keywords': [{'id': 2679, ...

[31624 rows x 2 columns]

In [17]:
keywordsDF.keywords[0]

{'keywords': [{'id': 931, 'name': 'jealousy'},
  {'id': 4290, 'name': 'toy'},
  {'id': 5202, 'name': 'boy'},
  {'id': 6054, 'name': 'friendship'},
  {'id': 9713, 'name': 'friends'},
  {'id': 9823, 'name': 'rivalry'},
  {'id': 165503, 'name': 'boy next door'},
  {'id': 170722, 'name': 'new toy'},
  {'id': 187065, 'name': 'toy comes to life'}],
 'movieId': 862}

In [18]:
keywordsDF = jn(keywordsDF.keywords, "keywords", "movieId")

In [19]:
display(keywordsDF)

            id                          name  movieId
0          931                      jealousy      862
1         4290                           toy      862
2         5202                           boy      862
3         6054                    friendship      862
4         9713                       friends      862
5         9823                       rivalry      862
6       165503                 boy next door      862
7       170722                       new toy      862
8       187065             toy comes to life      862
9        10090                    board game     8844
10       10941                 disappearance     8844
11       15101      based on children's book     8844
12       33467                      new home     8844
13      158086                       recluse     8844
14      158091                  giant insect     8844
15        1495                       fishing    15602
16       12392                   best friend    15602
17      179431          duringcreditsstinger    15602
18      208510                       old men    15602
19         818                based on novel    31357
20       10131      interracial relationship    31357
21       14768                 single mother    31357
22       15160                       divorce    31357
23       33455                   chick flick    31357
24        1009                          baby    11862
25        1599                midlife crisis    11862
26        2246                    confidence    11862
27        4995                         aging    11862
28        5600                      daughter    11862
29       10707  mother daughter relationship    11862
...        ...                           ...      ...
158650  154802                   silent film    49277
158651  209358                          acab    49277
158652   11320                        tenant    49271
158653  154802                   silent film    49271
158654    3335                     halloween    14885
158655  193143               winnie the pooh    14885
158656    5970                     wrestling   106807
158657    6075                         sport   106807
158658  154802                   silent film   106807
158659  214549                         short   106807
158660  230616                       fat man   106807
158661  155794                physical abuse   404604
158662  190327                sexual assault   404604
158663    9748                       revenge    84419
158664    9826                        murder    84419
158665   10714                 serial killer    84419
158666   14512                 new york city    84419
158667  173245                      sculptor    84419
158668  179083                    art critic    84419
158669  189379                     deformity    84419
158670  224180                   blair witch   390959
158671     616                         witch   289923
158672    2035                     mythology   289923
158673    3754                        legend   289923
158674   10714                 serial killer   289923
158675   11800                  mockumentary   289923
158676   10703                   tragic love   439050
158677    2679                        artist   111109
158678   14531                          play   111109
158679  215397                         pinoy   111109

[158680 rows x 3 columns]

In [20]:
keywordCount = keywordsDF.name.value_counts()

In [23]:
print(f'There are {len(keywordCount)} unique keywords in the dataset.')

There are 19956 unique keywords in the dataset.

In [22]:
keywordCount

woman director                          3115
independent film                        1930
murder                                  1308
based on novel                           835
musical                                  734
sex                                      685
violence                                 651
nudity                                   636
biography                                629
revenge                                  626
suspense                                 590
love                                     574
female nudity                            563
sport                                    544
police                                   454
teenager                                 441
duringcreditsstinger                     440
sequel                                   439
friendship                               411
world war ii                             394
drug                                     360
prison                                   351
stand-up comedy                          351
high school                              319
martial arts                             314
suicide                                  312
kidnapping                               306
rape                                     306
silent film                              306
film noir                                305
                                        ...
trash                                      1
long term relationship                     1
cologne germany                            1
fifth arrondissement of paris toilet       1
lesion                                     1
plot to kill                               1
reason for living                          1
truce                                      1
playing ball                               1
tennis match                               1
squid                                      1
wild comedy                                1
hyderabad                                  1
marital fight                              1
beförderung                                1
pessimism                                  1
degradation of lifestyle                   1
banana peel                                1
hindu muslim conflict                      1
tresor                                     1
modern-day western                         1
claude monet                               1
reference to jean claude duvalier          1
pest control                               1
strasbourg                                 1
spaniel                                    1
asian american                             1
dog cat friendship                         1
minivan                                    1
bali                                       1
Name: name, Length: 19956, dtype: int64